[req]
distinguished_name = req_distinguished_name
x509_extensions    = v3_req
prompt             = no

[req_distinguished_name]
commonName = Badockadock CA

[v3_req]
basicConstraints = critical,CA:TRUE,pathlen:1
keyUsage         = critical,keyCertSign,cRLSign
extendedKeyUsage = critical,serverAuth
